@import url("https://fonts.googleapis.com/css?family=Alegreya");

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Alegreya", serif;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
}

/* Nav bar */
.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(
      6rem,
      1fr
    );
  grid-template-rows: repeat(3, min-content) 70vhzrepeat (5, min-content);
  grid-row-gap: 1.6rem;
  margin-top: 1.6rem;
}

.social-icons {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  align-items: center;
}

.social-icon {
  font-size: 1.8rem;
  color: #a67c52;
  transition: all 0.2s;
}

.social-icon:hover {
  color: goldenrod;
  transform: rotateZ(360deg);
}

.first-nav {
  grid-column: 6 / 10;
  grid-row: 1 / 2;
}

.first-nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  list-style: none;
}

.first-nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #a67c52;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.first-nav-link::after {
  content: "";
  width: 0;
  height: 0.1rem;
  background-color: #a67c52;
  display: block;
  margin: auto;
  transition: width 0.2s cubic-bezier(0.55, 0, 0.98, 0.54);
}

.first-nav-link:hover::after {
  width: 100%;
}

.first-nav-link span {
  font-size: 1.3rem;
  color: #a67c52;
}

.first-nav-link i {
  font-size: 1.3rem;
  margin-right: 0.3rem;
}

.search {
  grid-column: 8/10;
  grid-row: 2/3;
}

.search form {
  display: grid;
  grid-template-columns: repeat(10, 10%);
}
.search input {
  grid-column: 3/-1;
  grid-row: 1/2;
  padding: 0.3rem 0.4rem;
  font-size: 1.3rem;
  border: none;
  border-bottom: 0.1rem solid #a67c52;
  outline: none;
  background-color: transparent;
  color: #a67c52;
}

.search-btn {
  grid-column: 10/-1;
  grid-row: 1/2;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #a67c52;
  outline: none;
}

.second-nav-item:first-child {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  width: 70rem;
  background-color: #ffeeee;
  padding: 1.6rem;
  display: grid;
  grid-template-columns: repeat(7, 10rem);
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
  z-index: 100;
}

.second-nav-item:first-child:hover .dropdown {
  visibility: visible;
  opacity: 1;
}
.second-nav {
  grid-column: 2/10;
  grid-row: 3/4;
  border-top: 0.1rem solid #a67c52;
  border-bottom: 0.1rem solid #a67c52;
}

.second-nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  list-style: none;
}

.second-nav-item {
}

.second-nav-link {
  text-align: center;
  display: grid;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  color: #a67c52;
  padding: 0.8rem 0;
  transition: all 0.5s 0.3s;
}

.second-nav-item:hover .second-nav-link {
  background-color: #a67c52;
  color: #fff;
}

.second-nav-link::before,
.second-nav-link::after {
  content: "";
  width: 0%;
  height: 0.1rem;
  background-color: #a67c52;
  display: block;
  transition: width 0.3s cubic-bezier(0.55, 0, 0.98, 0.54),
    background-color 0.5s 0.3s;
}
.second-nav-link::after {
  justify-self: end;
}

.second-nav-item:hover .second-nav-link::before,
.second-nav-item:hover .second-nav-link::after {
  width: 100%;
  background-color: #fff;
}

.dropdown-first-list {
  grid-column: 1/3;
}

.dropdown-second-list {
  grid-column: 3/5;
}

.dropdown-list-item {
  list-style: none;
}

.dropdown-list-link {
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #a67c52;
  margin: 0 0 1rem 1.6rem;
  display: block;
}

.dropdown-list-link:hover {
  color: goldenrod;
}
.dropdown-image {
  grid-column: 5 /-1;
  width: 100%;
}
/* End of Nav */

/* banner */
.banner {
  grid-column: 2/10;
  grid-row: 4/5;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  z-index: 50;
}

.banner-heading {
  font-size: 10rem;
  color: #a67c52;
}

.banner-btn {
  width: 16rem;
  height: 5rem;
  background: linear-gradient(to bottom, goldenrod, #a67c52);
  color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 1.5rem;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.banner-btn-text-one {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  transition: top 0.2s;
}

.banner-btn:hover .banner-btn-text-one {
  top: -100%;
}

.banner-btn:hover .banner-btn-text-two {
  top: 50%;
}
.banner-btn-text-two {
  position: absolute;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}

.slideshow {
  height: 100%;
  overflow: hidden;
}

.slide-btn {
  width: 1.3rem;
  height: 1.3rem;
  background-color: #bbb;
  border: 0.2rem solid #a67c52;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 95%;
  transform: translateX(-50%);
  z-index: 10;
}

.slide-btn-1 {
  left: 47%;
}

.slide-btn-2 {
  left: 49%;
}

.slide-btn-3 {
  left: 51%;
}

.slide-btn-4 {
  left: 53%;
}

.slideshow-wrapper {
  display: flex;
  width: 400%;
  height: 100%;
  position: relative;
  animation: slideshow 20s infinite;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slideshow {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  15% {
    left: -100%;
  }
  25% {
    left: -100%;
  }
  30% {
    left: -200%;
  }
  40% {
    left: -200%;
  }
  45% {
    left: -300%;
  }
  55% {
    left: -300%;
  }
  60% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  90% {
    left: 0;
  }
}

.slide-btn:focus {
  background-color: goldenrod;
}

.slide-btn-1:focus ~ .slideshow-wrapper {
  animation: none;
  left: 0;
}
.slide-btn-2:focus ~ .slideshow-wrapper {
  animation: none;
  left: -100%;
}
.slide-btn-3:focus ~ .slideshow-wrapper {
  animation: none;
  left: -200%;
}
.slide-btn-4:focus ~ .slideshow-wrapper {
  animation: none;
  left: -300%;
}
/* end of banner */

/* Day Offer */

.day-offer {
  grid-column: 2/10;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, min-content);
  grid-gap: 1.6rem 3.2rem;
  justify-items: center;
}

.day-offer-img-1 {
  grid-column: 1/3;
  grid-row: 1/-1;
  width: 100%;
}

.day-offer-heading {
  grid-column: 3/-1;
  grid-row: 1/2;
  font-size: 6rem;
  color: #a67c52;
}

.day-offer-paragraph {
  grid-column: 3/-1;
  grid-row: 2/3;
  color: #a67c52;
  font-size: 3rem;
}

.day-offer-btn {
  grid-column: 3/-1;
  grid-row: 3/4;
  width: 10rem;
  padding: 1rem;
  font-size: 1.4rem;
  color: #fff;
  background: linear-gradient(to bottom, #a67c52, goldenrod);
  border-radius: 2rem;
  outline: none;
  border: none;
  text-transform: uppercase;
  box-shadow: 0.2rem 0.2rem 1rem #777;
  cursor: pointer;
}

.day-offer-btn:hover {
  background: linear-gradient(to bottom, goldenrod, #a67c52);
}
.day-offer-img-2 {
  grid-column: 3/-1;
  grid-row: 4/-1;
  width: 100%;
  align-self: end;
}
/* End of Day Offer */

/* Best Selling */

.bestselling-furniture {
  grid-column: 2/10;
  grid-row: 6/7;
}

.bestselling-furniture-header {
  font-size: 4.5rem;
  color: #a67c52;
  text-align: center;
  margin: 3rem 0;
}

.bestselling-furniture-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 6.4rem;
}

.bestselling-furniture-card {
  background-color: #efefef;
  box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.3);
}

.bestselling-furniture-img {
  width: 100%;
  border-radius: 0.5rem 0.3rem 0 0;
}

.bestselling-furniture-heading {
  background-color: #efefef;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 2.4rem;
  color: #a67c52;
  padding: 0.5rem 0;
  border-radius: 1rem;
  transform: translateY(-50%);
}

.bestselling-furniture-paragraph {
  font-size: 1.9rem;
  color: #a67c52;
  text-align: center;
  margin-bottom: 1.5rem;
}

.bestselling-furniture-btn {
  width: 100%;
  padding: 1.6rem 0;
  cursor: pointer;
  background-color: #a67c52;
  font-size: 1.9rem;
  border: none;
  color: #fff;
  border-radius: 0 0 0.3rem 0.3rem;
  outline: none;
}

.bestselling-furniture-btn:hover {
  background-color: #a67c52;
  outline: none;
}
/* End of Best Selling */

/* Start of Gallery */

.gallery {
  grid-column: 1/-1;
  grid-row: 7/8;
  display: grid;
  grid-template-columns: repeat(8, minmax(1rem, 1fr));
  grid-template-rows: repeat(4, 10vw);
  grid-gap: 1.6rem;
  margin-top: 6.4rem;
  padding: 1.6rem 0;
  margin-left: 11rem;
  margin-right: 11rem;
}

.gallery-img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  object-fit: cover;
  opacity: 0.5;
  transition: opacity 0.5s;

}
.gallery-img:hover {
  opacity: 1;
}

.gallery-img-1 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.gallery-img-2 {
  grid-column: 3/6;
  grid-row: 1/3;
}
.gallery-img-3 {
  grid-column: 6/7;
  grid-row: 1/2;
}
.gallery-img-4 {
  grid-column: 7/9;
  grid-row: 1/3;
}
.gallery-img-5 {
  grid-column: 1/3;
  grid-row: 2/4;
}
.gallery-img-6 {
  grid-column: 3/5;
  grid-row: 3/4;
}
.gallery-img-7 {
  grid-column: 6/7;
  grid-row: 2/4;
}
.gallery-img-8 {
  grid-column: 5/6;
  grid-row: 3/5;
}
.gallery-img-9 {
  grid-column: 1/3;
  grid-row: 4/5;
}
.gallery-img-10 {
  grid-column: 3/5;
  grid-row: 4/5;
}

.gallery-img-11 {
  grid-column: 6/7;
  grid-row: 4/5;
}
.gallery-img-12 {
  grid-column: 7/9;
  grid-row: 3/5;
}

/* End of Gallery */
